graft docs
graft src
graft tests

include .coveragerc

include LICENSE.txt
include *.rst
recursive-include images *.png

include .travis.yml .readthedocs.yml .pre-commit-config.yaml

global-exclude *.py[cod] __pycache__/* *.so *.dylib
